*{
    margin: 0; /*добавить поля нормальные*/

    padding: 0;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: 400;
}

body {
    /* Old browsers */
    background-color: #f4eeed;
    color: #000000;
    font-family: 	Lucida Sans Unicode, sans-serif;
}

table {
    margin-left: 20px;
    vertical-align: middle; 
}

h1 {
    font-weight: bold;
    font-size: larger;
}

th#heading {
    font-weight: bold;
    font-size: large;
}

p {
    padding: 1px;
    font-size: normal;
}

p#toBold{
    font-weight: bold;
}

#R, #X{
    background-color: #efd9d1;
    margin-left: 5px;
    padding-left: 3px;
    border: outset 1px #999b84;
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
}


#Y {
    background-color: #efd9d1;
    margin-left: 5px;
    padding-left: 3px;
    border: outset 1px #999b84; /*пофиксить*/
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
}

#check {
    margin-top: 8px;
    padding: 5px 10px;
    border: outset 1px #efd9d1;
    background-color: #efd9d1; 
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}