*{
    font-weight: normal;
    line-height: normal;
}

*::selection{
    background-color: #cbb6b0;
}

body {
    background-color: #f4eeed;
    color: #000000;
    font-family: 	Lucida Sans Unicode, sans-serif;
}

.info-heading {
    font-weight: bold !important;
    font-size: larger;
    text-align:center;
}

.pointer {cursor: pointer;}

#main {
    text-indent: 0%;
    vertical-align: top;
    margin-left: 5%;
    margin-right: 5%; 
}

.container{
    display: grid;
    height:auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
        "info-container data-container area-container"
        "results-container results-container results-container";
}

#info-container{
    grid-area: info-container;
    align-content: start;
    justify-content: center;
}

#data-container{
    grid-area: data-container;
    align-content:start;
    justify-content: center;
}

#area-container{
    grid-area: area-container;
    align-content: start;
    justify-content: center;
}

#results-container{
    grid-area: results-container;
    align-content: start;
}

#links {
    list-style: inside;
    list-style-type: circle;
    margin: 0;
}

a:link {
    color: #c36e54;
    background-color: transparent;
    text-decoration:underline;
  }

a:visited {
    color: #d4a79a;
    background-color: transparent;
    text-decoration: none;
}

b{
    font-weight: bold;
}

#R, #X, #Y{
    background-color: #efd9d1;
    margin-left: 1%;
    padding-left: 1%;
    border: solid 3px #b4a39d;
    border-radius: 25px;
    color: #000000;
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
}


#check, #clear {
    align-self:center;
    padding: 1% 2%;
    border: solid 3px #8b726a;
    border-radius: 25px;
    color: #000000;
    background-color: #DDB7AB; 
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
    font-size: medium;   
}

#results{
    position: static !important;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    padding: 1% 2%;
    text-align: center;
    border-collapse: collapse;
    font-weight: normal;
}

#results th{
    background-color: #ddb7ab;
    border: solid 3px #8b726a;
}

#results td{
    background-color: #efd9d1;
    border: solid 3px #b4a39d;
}

line {
    color: #000000;
}

#arrow {
    stroke: #000000;
    fill: #000000;
}

polygon,
path {
    stroke: #8b726a;
    fill: #DDB7AB;

}

.validationInfo {
    margin: auto;
    text-align: center;
    font-family: 	Lucida Sans Unicode, sans-serif;
    color: #973522;
    opacity: 0;
    transition: opacity 0.7s;
}

.validationInfo.show {
    opacity: 1;
    transition: opacity 0.7s;
}

#error{
    font-weight: bold;
}

@media (max-width: 700px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr;
        grid-template-areas: 
            "info-container"
            "area-container"
            "data-container"
            "results-container";
    }

    #area-container{
        margin: auto !important;
        justify-content: center;
    }
}
  

  
