*{
    margin: 0; /*добавить поля нормальные*/

    padding: 0;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: 400;
}

.pointer {cursor: pointer;}

*::selection{
    background-color: #dfc8c0;
}

body {
    /* Old browsers */
    background-color: #f4eeed;
    color: #000000;
    font-family: 	Lucida Sans Unicode, sans-serif;
}

#links {
    list-style: inside;
}

a:link {
    color: #c17a64;
    background-color: transparent;
    text-decoration:underline;
  }

a:visited {
    color: #d4a79a;
    background-color: transparent;
    text-decoration: none;
}

table {
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: middle; 
}

h1 {
    font-weight: bold;
    font-size: larger;
}

th#heading {
    font-weight: bold;
    font-size: large;
}

p {
    padding: 1px;
    font-size: normal;
}

p#toBold{
    font-weight: bold;
}

#R, #X{
    background-color: #efd9d1;
    margin-left: 5px;
    padding-left: 3px;
    border: solid 3px #b4a39d;
    /*border: outset 1px #342f2d;*/
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
}


#Y {
    background-color: #efd9d1;
    margin-left: 5px;
    padding-left: 3px;
    border: solid 3px #b4a39d;
    /*border: outset 1px #342f2d;*/
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
}

#check {
    margin-top: 8px;
    margin-left: 30%;
    padding: 5px 10px;
    border: solid 3px #8b726a;
    /*border: outset 1px #342f2d;*/
    background-color: #DDB7AB; 
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
    font-size: 1.1em;   
}

#clear {
    margin-left: 10%;
    margin-top: 8px;
    padding: 5px 10px;
    border: solid 3px #8b726a;
    /*border: outset 1px #342f2d;*/
    background-color: #DDB7AB; 
    font-family: Lucida Sans Unicode, sans-serif;
    font-weight: normal;
    font-size: 1.1em;   
}
#results{
    margin-right: 10%;
    margin-top: 8px;
    padding: 5px 10px;
    border-collapse: collapse;
}

#heads, #heads>th{
    background-color: #ddb7ab;
    border: solid 3px #8b726a;
}

#results td{
    margin-right: 10%;
    margin-top: 8px;
    padding: 5px 10px;
    background-color: #efd9d1;
    border: solid 3px #b4a39d;
    text-align: center;
}

.validationInfo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-right: 80px;
    text-align: center;
    font-family: inherit;
    color: #f24421;
    opacity: 0;
    transition: opacity 0.7s;
}

.validationInfo.show {
    opacity: 1;
    transition: opacity 0.7s;
}

#error{
    font-weight: bold;
}
  

  
